h1{
	text-align: center;
	color: green;


}
body{
	background-color: lightgrey;
	padding: 0;
	margin:0;

}
.container{
	width: 80px;
	margin:auto;
	overflow: hidden;
	bord


	


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden
}

li{
	float: left;
	padding: 0px 150px;







li a {
	display: block;
	padding: 8px;
	background-color: white;

}
p {
	text-align: center;
}

.responsive{
	width: 100%
	max-width:400px;
	height: auto;
}

.content{
	max-width: 500px;
	margin:auto;
	padding: 10px
}
